<header>
  <h1>Tecnologías y Sistemas Web 25/26</h1>
  <h2>Página Principal</h2>
</header>
<article>
  <nav class="navbar">
    <ul>
      <li><a id="homeLink" href="admin-home.html">Inicio</a></li>
      <li><a id="perfilLink" href="admin-perfil.html">Perfil</a></li>
      <li><a id="salirLink" href="index.html">Salir</a></li>
    </ul>
  </nav>
  <div class="contenido">
    <nav class="toolbar">
      <a id="agregarLink" class = "boton" href="admin-agregar-libro.html">Agregar un libro</a>
    </nav>
    <div class="info">
      <div class="mensajes-container" id="mensajesContainer"></div>
      <div id="catalogo" class="catalogo"></div>      
    </div>
    <footer>
      Carlos Rubio Martínez<br>
      Jose Manuel Moraga Lozano<br>
      Adolfo José Escribano Martínez<br>
      Alberto Cuenca Alemán<br>
      Tecnologías y Sistemas Web 25/26<br>
    </footer>
  </div>
</article>