<header>
    <h1>Tecnologías y Sistemas Web 25/26</h1>
    <h2>Cliente Perfil</h2>
</header>
<article>
    <nav class="navbar">
        <ul>
            <li><a id="homeLink" href="cliente-home.html">Inicio</a></li>
            <li><a id="carroLink" href="cliente-carro.html">Carro</a></li>
            <li><a id="facturasLink" href="cliente-lista-compras.html">Facturas</a></li>
            <li><a id="perfilLink" href="cliente-perfil.html">Perfil</a></li>
            <li><a id="salirLink" href="index.html">Salir</a></li>
        </ul>
    </nav>
    <div class="contenido">
        <nav class="toolbar">
        </nav>
        <div class="info">
            <div class="mensajes-container" id="mensajesContainer"></div>

            <!-- FORMULARIO DE PERFIL -->
            <form id="perfilForm" class="registro-form">
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input type="text" id="dni" name="dni" required>
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>

                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" id="apellidos" name="apellidos" required>
                </div>

                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <textarea id="direccion" name="direccion" rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-actions">
                    <button type="submit" id="guardarBtn" class="boton">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</article>